.mainLogo {
  height: 80px;
  width: 320px;
  margin-top: 40px;
}

.form-container {
  background-color: #d3e6c6;
  padding: 40px;
  max-width: 600px;
  margin: 100px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.form-container h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #333;
}

.form-container orm {
  display: flex;
  text-align: left;
  flex-direction: column;
}


.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 48%;
}

label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

label i {
  margin-right: 8px;
}

input {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}